.inline-block {
    display:inline-block;
    vertical-align: top;
}
.logo {
    width:23%;
    padding:1%;
    text-align:center;
}

.logo img {
    width:100px;
}
nav {
    width:73%;
    padding:1%;
}

ul {
    width:50%;
    margin-left: auto;
}

.heroImg {
    height:600px;
    padding:25px;
}

.content {
    width:500px;
    margin:0 auto;
}
.content img {
    width:200px;
}

footer {
    background-color: #373738;

}

footer ul {
    display: inline-block;
    vertical-align: top;
    padding:10px;
}

body {
    background-color:#f2f2f2;
}

#bodyContainer {
    width:90%;
    margin:0 auto;
    background-color:#fff;
}

.navigation {
    height:100px;
    width:100vw;
}